<div
  class="container w-full h-screen flex gap-6 flex-col md:flex-row items-center justify-evenly p-6 pt-20 md:pt-0"
>
  <p-skeleton width="20rem" height="25rem" borderRadius="16px"></p-skeleton>
  <div class="flex w-full flex-col gap-3">
    <p-skeleton width="20rem" height="2rem" borderRadius="16px"></p-skeleton>
    <div class="flex gap-2">
      <p-skeleton width="5rem" height="3rem" borderRadius="16px"></p-skeleton>
      <p-skeleton width="5rem" height="3rem" borderRadius="16px"></p-skeleton>
      <p-skeleton width="5rem" height="3rem" borderRadius="16px"></p-skeleton>
    </div>
    <p-skeleton width="45rem" height="2rem" borderRadius="16px"></p-skeleton>
    <p-skeleton width="40rem" height="2rem" borderRadius="16px"></p-skeleton>
    <p-skeleton width="45rem" height="2rem" borderRadius="16px"></p-skeleton>
    <p-skeleton width="40rem" height="2rem" borderRadius="16px"></p-skeleton>
  </div>
</div>
